langchain==0.0.190
openai==0.27.7
llama-cpp-python==0.1.64
pygpt4all==1.0.1
urllib3==2.0.2
SQLAlchemy==2.0.15
chromadb==0.3.23
python-dotenv==1.0.0
pydantic==1.9.0
accelerate==0.20.3
duckdb==0.8.0
guidance==0.0.61
protobuf==3.20.3
nvitop==1.1.2
tqdm
scipy
jupyter==1.0.0
ipykernel==6.23.3
typing-inspect==0.8.0
typing_extensions==4.5.0
opencv-python==4.7.0.72
pillow==9.5.0
transformers==4.30.2
bitsandbytes==0.39.1
xformers
git+https://github.com/huggingface/peft@03eb378eb914fbee709ff7c86ba5b1d033b89524
https://github.com/PanQiWei/AutoGPTQ/releases/download/v0.2.2/auto_gptq-0.2.2+cu117-cp310-cp310-linux_x86_64.whl
https://github.com/jllllll/exllama/releases/download/0.0.3/exllama-0.0.3+cu117-cp310-cp310-linux_x86_64.whl